.container{
    .nav-left{
        height: calc(100vh); //calc计算长宽, 这里设置默认高度占满屏幕
        background-color: #001529; //这里虽然默认是铺满了, 但是ui组件没有显示那么多
    }
    .main{
        height: calc(100vh);
        background-color: #f1f3f5;
        overflow: auto;  // 超出页面高度 自动添加滚动
    }
    .content{
        position: relative; // 相对定位
        padding: 20px; // 主页面的内容内边距都间隔20px, 相当于外边的几个内容
    }
}